$color-page: #050314;
$color-sec-1: #411fd1;
$color-sec-2: #08003b;
// breakpoints
$bp-largest: 1153px;
$bp-large: 1000px;
$bp-mid: 847px;
$bp-mid-2: 750px;
$bp-sm: 660px;
$bp-sm-2: 571px;
$bp-sm-3: 454px;
$bp-sm-4: 357px;
$bp-sm-5: 290px;
