.homepage__header {
  display: inline-block;
  z-index: 14;
  text-shadow: 0 0.1rem 0.7rem $color-page;
  position: relative;
  margin-bottom: 4rem;
  &::after {
    content: '';
    display: inline-block;
    background-color: $color-sec-1;
    width: 100%;
    height: 1.5rem;
    z-index: -9;
    position: absolute;
    bottom: 0.6rem;
    left: 0;
  }
  &--1 {
    margin-bottom: 0;
    &::after {
      content: '';
      width: 0;
      height: 0;
      position: initial;
      bottom: 0;
      left: 0;
    }
  }
}
.line {
  background-color: $color-sec-1;
  width: 0.3rem;
  height: 7rem;
  display: inline-block;
  top: 4rem;
  left: 50%;
  position: absolute;
  z-index: -89;
  &--1 {
    height: 100%;
    z-index: 0;
  }
  &--2 {
    z-index: -2;
  }
}
