.watchmov {
  grid-column: full-start/full-end;
  position: relative;
}
.vid {
  box-shadow: 0 0rem 0.3rem 0.1rem $color-sec-1;
  margin-top: 1.5rem;
  background-color: black;
}
.br {
  padding: 0 4.5rem;
}
